In [1]:
#importing dependencies to load tables from postgress
from getpass import getpass
from sqlalchemy import create_engine,Table, MetaData, text, func
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
import sqlalchemy_utils
from local_settings import password
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect
import pyodbc

In [2]:
db_string = f"postgresql://postgres:{password}@neo-db.ctohlxwhjvlb.us-east-1.rds.amazonaws.com:5432/neo"

In [3]:
engine = create_engine(db_string)

In [4]:
#retrieving a url from our engine for postgress
engine.url

postgresql://postgres:***@neo-db.ctohlxwhjvlb.us-east-1.rds.amazonaws.com:5432/neo

In [5]:
# reflect the AWS database into a new model
Base = automap_base()

In [6]:
# Reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view the classes that automap found
Base.classes

In [8]:
# Create our session (link) from Python to the DB
Session = sessionmaker(engine)
print(session)

<module 'sqlalchemy.orm.session' from 'C:\\Users\\Fred\\anaconda3\\envs\\mlenv\\lib\\site-packages\\sqlalchemy\\orm\\session.py'>

In [9]:
# starting to read from neo table
with engine.connect() as conn:
    neo_df = pd.read_sql("Select * from neo",con=engine)
neo_df

,spkid,full_name,pdes,pha,h,h_sigma,orbit_id,epoch,epoch.mjd,epoch.cal,...,sigma_tp,sigma_per,class,producer,data_arc,first_obs,last_obs,n_obs_used,condition_code,rms
0,2000433,433 Eros (A898 PA),433,N,10.43,NaN,JPL 659,2459600.5,59600,2022-01-21.0,...,0.000003,1.000000e-07,AMO,Giorgini,46582.0,1893-10-29,2021-05-13,9130,0.0,0.29796
1,2000719,719 Albert (A911 TB),719,N,15.51,NaN,JPL 221,2459600.5,59600,2022-01-21.0,...,0.000012,2.300000e-06,AMO,Otto Matic,40008.0,1911-10-04,2021-04-17,1894,0.0,0.39775
2,2000887,887 Alinda (A918 AA),887,N,13.87,NaN,JPL 428,2459600.5,59600,2022-01-21.0,...,0.000014,2.600000e-06,AMO,Otto Matic,37799.0,1918-02-03,2021-07-31,2624,0.0,0.39776
3,2001036,1036 Ganymed (A924 UB),1036,N,9.25,NaN,JPL 949,2459600.5,59600,2022-01-21.0,...,0.000006,1.700000e-06,AMO,Otto Matic,35482.0,1924-10-23,2021-12-15,7159,0.0,0.37075
4,2001221,1221 Amor (1932 EA1),1221,N,17.39,NaN,JPL 110,2459600.5,59600,2022-01-21.0,...,0.000021,7.000000e-07,AMO,Otto Matic,32775.0,1932-03-12,2021-12-05,573,0.0,0.45902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56049,3838184,(2019 CL2),2019 CL2,N,23.30,0.33,25,2459600.5,59600,2022-01-21.0,...,0.000650,3.200000e-04,APO,Otto Matic,243.0,2019-01-03,2019-09-03,137,2.0,0.39482
56050,3838185,(2019 CM2),2019 CM2,N,21.10,0.38,JPL 4,2458521.5,58521,2019-02-07.0,...,0.160000,1.300000e+01,AMO,Otto Matic,7.0,2019-02-05,2019-02-12,49,9.0,0.29841
56051,3838186,(2019 CN2),2019 CN2,N,28.40,0.52,8,2459600.5,59600,2022-01-21.0,...,0.003300,9.700000e-04,ATE,Otto Matic,5.0,2019-02-04,2019-02-09,23,4.0,0.49789
56052,3838190,(2019 CT2),2019 CT2,N,23.10,0.39,8,2459600.5,59600,2022-01-21.0,...,0.051000,2.500000e-02,AMO,Otto Matic,58.0,2019-02-04,2019-04-03,31,5.0,0.41537
56053,3838191,(2019 CU2),2019 CU2,N,22.00,0.22,7,2459600.5,59600,2022-01-21.0,...,0.590000,6.000000e-01,AMO,Otto Matic,36.0,2019-02-04,2019-03-12,27,6.0,0.39768

In [10]:
# starting to read from cad_stat table into a data frame
with engine.connect() as conn:
    cad_stat_df = pd.read_sql("Select * from cad_stats",con=engine)
cad_stat_df

,des,avg_dist,median_dist,avg_dist_min,median_dist_min,avg_dist_max,median_dist_max,avg_v_rel,median_v_rel,avg_v_inf,median_v_inf,avg_h,median_h
0,100004,0.171272,0.171272,0.171271,0.171271,0.171272,0.171272,16.693630,16.693630,16.692684,16.692684,16.49,16.49
1,100756,0.137010,0.137010,0.137009,0.137009,0.137011,0.137011,8.385470,8.385470,8.383151,8.383151,16.27,16.27
2,100926,0.192040,0.192040,0.192038,0.192038,0.192041,0.192041,15.138221,15.138221,15.137288,15.137288,16.65,16.65
3,10115,0.129787,0.137266,0.129787,0.137266,0.129787,0.137267,12.032556,11.404438,12.030234,11.401381,17.08,17.08
4,10145,0.115595,0.127593,0.115593,0.127591,0.115596,0.127595,19.749914,20.594865,19.748600,20.593851,16.99,16.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11574,99248,0.143393,0.169927,0.143388,0.169923,0.143398,0.169930,12.478746,12.060377,12.476791,12.057815,16.53,16.53
11575,99799,0.138672,0.138672,0.138671,0.138671,0.138672,0.138672,5.078622,5.078622,5.074620,5.074620,18.36,18.36
11576,99907,0.175814,0.174314,0.175812,0.174313,0.175816,0.174315,17.825862,17.387091,17.825002,17.386195,17.91,17.91
11577,99935,0.180719,0.179889,0.180719,0.179889,0.180720,0.179890,20.658150,20.577422,20.657430,20.576675,16.05,16.05
11578,99942,0.069514,0.080326,0.067562,0.078951,0.071474,0.081701,5.894050,4.694752,5.662058,4.681041,19.70,19.70

In [11]:
#joining our tables (neo and cad_stat) using sqlalchemy and copying it into a pandas data frame
with engine.connect() as conn:
    neo_cad_stat_df =pd.read_sql("select neo.*, cad_stats.* from neo inner join cad_stats on neo.pdes = cad_stats.des", con=engine)

In [12]:
#printing the results of the merged data frames
neo_cad_stat_df

,spkid,full_name,pdes,pha,h,h_sigma,orbit_id,epoch,epoch.mjd,epoch.cal,...,avg_dist_min,median_dist_min,avg_dist_max,median_dist_max,avg_v_rel,median_v_rel,avg_v_inf,median_v_inf,avg_h,median_h
0,2000433,433 Eros (A898 PA),433,N,10.43,NaN,JPL 659,2459600.5,59600,2022-01-21.0,...,0.166123,0.166123,0.166123,0.166123,5.897836,5.897836,5.895085,5.895085,10.43,10.43
1,2000887,887 Alinda (A918 AA),887,N,13.87,NaN,JPL 428,2459600.5,59600,2022-01-21.0,...,0.124259,0.124259,0.124264,0.124264,9.758823,9.758823,9.756147,9.756147,13.87,13.87
2,2001221,1221 Amor (1932 EA1),1221,N,17.39,NaN,JPL 110,2459600.5,59600,2022-01-21.0,...,0.169007,0.169007,0.169008,0.169008,7.732492,7.732492,7.730384,7.730384,17.39,17.39
3,2001566,1566 Icarus (1949 MA),1566,Y,16.35,NaN,JPL 126,2459600.5,59600,2022-01-21.0,...,0.091248,0.071012,0.091258,0.071019,27.901108,27.939308,27.899747,27.937402,16.35,16.35
4,2001620,1620 Geographos (1951 RA),1620,Y,15.29,NaN,JPL 649,2459600.5,59600,2022-01-21.0,...,0.121107,0.113638,0.121109,0.113639,12.570617,12.951696,12.568316,12.949567,15.29,15.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22987,3838137,(2019 CB2),2019 CB2,N,26.00,0.53,5,2459600.5,59600,2022-01-21.0,...,0.068423,0.032014,0.176214,0.168189,13.768289,13.681822,13.765246,13.675082,26.00,26.00
22988,3838138,(2019 CC2),2019 CC2,N,26.30,0.43,3,2459600.5,59600,2022-01-21.0,...,0.062733,0.062733,0.295667,0.295667,8.718537,8.718537,8.716637,8.716637,26.30,26.30
22989,3838139,(2019 CD2),2019 CD2,Y,20.10,0.29,30,2459600.5,59600,2022-01-21.0,...,0.113446,0.120979,0.142407,0.136488,21.706689,23.156397,21.705478,23.154787,20.10,20.10
22990,3838184,(2019 CL2),2019 CL2,N,23.30,0.33,25,2459600.5,59600,2022-01-21.0,...,0.067763,0.089389,0.072833,0.090703,8.463972,8.233799,8.451608,8.203806,23.30,23.30
22991,3838186,(2019 CN2),2019 CN2,N,28.40,0.52,8,2459600.5,59600,2022-01-21.0,...,0.103537,0.125950,0.123010,0.128221,8.268958,7.952101,8.263729,7.949476,28.40,28.40

In [13]:
## from this stage, I will start working on pre-processing and cleaning of the data

In [14]:
# Drop the null columns where all values are null
neo_cad_stat_df = neo_cad_stat_df.dropna(axis='columns', how='all')
neo_cad_stat_df

,spkid,full_name,pdes,pha,h,h_sigma,orbit_id,epoch,epoch.mjd,epoch.cal,...,avg_dist_min,median_dist_min,avg_dist_max,median_dist_max,avg_v_rel,median_v_rel,avg_v_inf,median_v_inf,avg_h,median_h
0,2000433,433 Eros (A898 PA),433,N,10.43,NaN,JPL 659,2459600.5,59600,2022-01-21.0,...,0.166123,0.166123,0.166123,0.166123,5.897836,5.897836,5.895085,5.895085,10.43,10.43
1,2000887,887 Alinda (A918 AA),887,N,13.87,NaN,JPL 428,2459600.5,59600,2022-01-21.0,...,0.124259,0.124259,0.124264,0.124264,9.758823,9.758823,9.756147,9.756147,13.87,13.87
2,2001221,1221 Amor (1932 EA1),1221,N,17.39,NaN,JPL 110,2459600.5,59600,2022-01-21.0,...,0.169007,0.169007,0.169008,0.169008,7.732492,7.732492,7.730384,7.730384,17.39,17.39
3,2001566,1566 Icarus (1949 MA),1566,Y,16.35,NaN,JPL 126,2459600.5,59600,2022-01-21.0,...,0.091248,0.071012,0.091258,0.071019,27.901108,27.939308,27.899747,27.937402,16.35,16.35
4,2001620,1620 Geographos (1951 RA),1620,Y,15.29,NaN,JPL 649,2459600.5,59600,2022-01-21.0,...,0.121107,0.113638,0.121109,0.113639,12.570617,12.951696,12.568316,12.949567,15.29,15.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22987,3838137,(2019 CB2),2019 CB2,N,26.00,0.53,5,2459600.5,59600,2022-01-21.0,...,0.068423,0.032014,0.176214,0.168189,13.768289,13.681822,13.765246,13.675082,26.00,26.00
22988,3838138,(2019 CC2),2019 CC2,N,26.30,0.43,3,2459600.5,59600,2022-01-21.0,...,0.062733,0.062733,0.295667,0.295667,8.718537,8.718537,8.716637,8.716637,26.30,26.30
22989,3838139,(2019 CD2),2019 CD2,Y,20.10,0.29,30,2459600.5,59600,2022-01-21.0,...,0.113446,0.120979,0.142407,0.136488,21.706689,23.156397,21.705478,23.154787,20.10,20.10
22990,3838184,(2019 CL2),2019 CL2,N,23.30,0.33,25,2459600.5,59600,2022-01-21.0,...,0.067763,0.089389,0.072833,0.090703,8.463972,8.233799,8.451608,8.203806,23.30,23.30
22991,3838186,(2019 CN2),2019 CN2,N,28.40,0.52,8,2459600.5,59600,2022-01-21.0,...,0.103537,0.125950,0.123010,0.128221,8.268958,7.952101,8.263729,7.949476,28.40,28.40

In [15]:
#getting a summary of null values for each column
neo_cad_stat_df.isnull().sum()

spkid                  0
full_name              0
pdes                   0
pha                   58
h                     58
h_sigma            15470
orbit_id               0
epoch                  0
epoch.mjd              0
epoch.cal              0
e                      0
a                      0
q                      0
i                      0
om                     0
w                      0
ma                     0
ad                     0
n                      0
tp                     0
tp_cal                 0
per                    0
per_y                  0
moid                   0
moid_ld                0
moid_jup               8
t_jup                  0
sigma_e                0
sigma_a                0
sigma_q                0
sigma_i                0
sigma_om               0
sigma_w                0
sigma_ma               0
sigma_ad               0
sigma_n                0
sigma_tp               0
sigma_per              0
class                  0
producer               0
data_arc              76
first_obs              0
last_obs               0
n_obs_used             0
condition_code         0
rms                    0
des                    0
avg_dist               0
median_dist            0
avg_dist_min           0
median_dist_min        0
avg_dist_max           0
median_dist_max        0
avg_v_rel              0
median_v_rel           0
avg_v_inf              2
median_v_inf           2
avg_h                 58
median_h              58
dtype: int64

In [16]:
# deleting "h_sigma" column since it contains manu null values
neo_cad_stat_df = neo_cad_stat_df.drop(columns =['h_sigma'] ,axis=1)
neo_cad_stat_df

,spkid,full_name,pdes,pha,h,orbit_id,epoch,epoch.mjd,epoch.cal,e,...,avg_dist_min,median_dist_min,avg_dist_max,median_dist_max,avg_v_rel,median_v_rel,avg_v_inf,median_v_inf,avg_h,median_h
0,2000433,433 Eros (A898 PA),433,N,10.43,JPL 659,2459600.5,59600,2022-01-21.0,0.2227,...,0.166123,0.166123,0.166123,0.166123,5.897836,5.897836,5.895085,5.895085,10.43,10.43
1,2000887,887 Alinda (A918 AA),887,N,13.87,JPL 428,2459600.5,59600,2022-01-21.0,0.5705,...,0.124259,0.124259,0.124264,0.124264,9.758823,9.758823,9.756147,9.756147,13.87,13.87
2,2001221,1221 Amor (1932 EA1),1221,N,17.39,JPL 110,2459600.5,59600,2022-01-21.0,0.4358,...,0.169007,0.169007,0.169008,0.169008,7.732492,7.732492,7.730384,7.730384,17.39,17.39
3,2001566,1566 Icarus (1949 MA),1566,Y,16.35,JPL 126,2459600.5,59600,2022-01-21.0,0.8269,...,0.091248,0.071012,0.091258,0.071019,27.901108,27.939308,27.899747,27.937402,16.35,16.35
4,2001620,1620 Geographos (1951 RA),1620,Y,15.29,JPL 649,2459600.5,59600,2022-01-21.0,0.3354,...,0.121107,0.113638,0.121109,0.113639,12.570617,12.951696,12.568316,12.949567,15.29,15.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22987,3838137,(2019 CB2),2019 CB2,N,26.00,5,2459600.5,59600,2022-01-21.0,0.4009,...,0.068423,0.032014,0.176214,0.168189,13.768289,13.681822,13.765246,13.675082,26.00,26.00
22988,3838138,(2019 CC2),2019 CC2,N,26.30,3,2459600.5,59600,2022-01-21.0,0.1793,...,0.062733,0.062733,0.295667,0.295667,8.718537,8.718537,8.716637,8.716637,26.30,26.30
22989,3838139,(2019 CD2),2019 CD2,Y,20.10,30,2459600.5,59600,2022-01-21.0,0.7479,...,0.113446,0.120979,0.142407,0.136488,21.706689,23.156397,21.705478,23.154787,20.10,20.10
22990,3838184,(2019 CL2),2019 CL2,N,23.30,25,2459600.5,59600,2022-01-21.0,0.3280,...,0.067763,0.089389,0.072833,0.090703,8.463972,8.233799,8.451608,8.203806,23.30,23.30
22991,3838186,(2019 CN2),2019 CN2,N,28.40,8,2459600.5,59600,2022-01-21.0,0.2239,...,0.103537,0.125950,0.123010,0.128221,8.268958,7.952101,8.263729,7.949476,28.40,28.40

In [17]:
#filling the null values with 0 in preperation of our data for ML
neo_cad_stat_df= neo_cad_stat_df.fillna(value =0)
neo_cad_stat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22992 entries, 0 to 22991
Data columns (total 58 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   spkid            22992 non-null  object
 1   full_name        22992 non-null  object
 2   pdes             22992 non-null  object
 3   pha              22992 non-null  object
 4   h                22992 non-null  float64
 5   orbit_id         22992 non-null  object
 6   epoch            22992 non-null  float64
 7   epoch.mjd        22992 non-null  object
 8   epoch.cal        22992 non-null  object
 9   e                22992 non-null  float64
 10  a                22992 non-null  float64
 11  q                22992 non-null  float64
 12  i                22992 non-null  float64
 13  om               22992 non-null  float64
 14  w                22992 non-null  float64
 15  ma               22992 non-null  float64
 16  ad               22992 non-null  float64
 17  n                22992 non-null  float64
 18  tp               22992 non-null  float64
 19  tp_cal           22992 non-null  object
 20  per              22992 non-null  float64
 21  per_y            22992 non-null  float64
 22  moid             22992 non-null  float64
 23  moid_ld          22992 non-null  float64
 24  moid_jup         22992 non-null  float64
 25  t_jup            22992 non-null  float64
 26  sigma_e          22992 non-null  float64
 27  sigma_a          22992 non-null  float64
 28  sigma_q          22992 non-null  float64
 29  sigma_i          22992 non-null  float64
 30  sigma_om         22992 non-null  float64
 31  sigma_w          22992 non-null  float64
 32  sigma_ma         22992 non-null  float64
 33  sigma_ad         22992 non-null  float64
 34  sigma_n          22992 non-null  float64
 35  sigma_tp         22992 non-null  float64
 36  sigma_per        22992 non-null  float64
 37  class            22992 non-null  object
 38  producer         22992 non-null  object
 39  data_arc         22992 non-null  float64
 40  first_obs        22992 non-null  object
 41  last_obs         22992 non-null  object
 42  n_obs_used       22992 non-null  int64
 43  condition_code   22992 non-null  int64
 44  rms              22992 non-null  float64
 45  des              22992 non-null  object
 46  avg_dist         22992 non-null  float64
 47  median_dist      22992 non-null  float64
 48  avg_dist_min     22992 non-null  float64
 49  median_dist_min  22992 non-null  float64
 50  avg_dist_max     22992 non-null  float64
 51  median_dist_max  22992 non-null  float64
 52  avg_v_rel        22992 non-null  float64
 53  median_v_rel     22992 non-null  float64
 54  avg_v_inf        22992 non-null  float64
 55  median_v_inf     22992 non-null  float64
 56  avg_h            22992 non-null  float64
 57  median_h         22992 non-null  float64
dtypes: float64(43), int64(2), object(13)
memory usage: 10.2+ MB

In [18]:
# transform pha to 1 or 0 from object variables of Yes and No
def change(type):
    if type == "Y":
        return 1
    else:
        return 0
    
neo_cad_stat_df["pha"] = neo_cad_stat_df["pha"].apply(change)
neo_cad_stat_df.head()

,spkid,full_name,pdes,pha,h,orbit_id,epoch,epoch.mjd,epoch.cal,e,...,avg_dist_min,median_dist_min,avg_dist_max,median_dist_max,avg_v_rel,median_v_rel,avg_v_inf,median_v_inf,avg_h,median_h
0,2000433,433 Eros (A898 PA),433,0,10.43,JPL 659,2459600.5,59600,2022-01-21.0,0.2227,...,0.166123,0.166123,0.166123,0.166123,5.897836,5.897836,5.895085,5.895085,10.43,10.43
1,2000887,887 Alinda (A918 AA),887,0,13.87,JPL 428,2459600.5,59600,2022-01-21.0,0.5705,...,0.124259,0.124259,0.124264,0.124264,9.758823,9.758823,9.756147,9.756147,13.87,13.87
2,2001221,1221 Amor (1932 EA1),1221,0,17.39,JPL 110,2459600.5,59600,2022-01-21.0,0.4358,...,0.169007,0.169007,0.169008,0.169008,7.732492,7.732492,7.730384,7.730384,17.39,17.39
3,2001566,1566 Icarus (1949 MA),1566,1,16.35,JPL 126,2459600.5,59600,2022-01-21.0,0.8269,...,0.091248,0.071012,0.091258,0.071019,27.901108,27.939308,27.899747,27.937402,16.35,16.35
4,2001620,1620 Geographos (1951 RA),1620,1,15.29,JPL 649,2459600.5,59600,2022-01-21.0,0.3354,...,0.121107,0.113638,0.121109,0.113639,12.570617,12.951696,12.568316,12.949567,15.29,15.29

In [19]:
# deleting unnessacary string columns for preparation of Machine Learning
neo_cad_stat_df = neo_cad_stat_df.drop(columns =['spkid','full_name','epoch.cal','n_obs_used','pdes', 'des','orbit_id','producer',
                                                'epoch','epoch.mjd','last_obs','first_obs','tp','tp_cal'] ,axis=1)
neo_cad_stat_df

,pha,h,e,a,q,i,om,w,ma,ad,...,avg_dist_min,median_dist_min,avg_dist_max,median_dist_max,avg_v_rel,median_v_rel,avg_v_inf,median_v_inf,avg_h,median_h
0,0,10.43,0.2227,1.4580,1.133,10.83,304.30,178.90,246.90,1.78,...,0.166123,0.166123,0.166123,0.166123,5.897836,5.897836,5.895085,5.895085,10.43,10.43
1,0,13.87,0.5705,2.4730,1.062,9.39,110.43,350.49,86.61,3.88,...,0.124259,0.124259,0.124264,0.124264,9.758823,9.758823,9.756147,9.756147,13.87,13.87
2,0,17.39,0.4358,1.9190,1.082,11.88,171.32,26.64,261.04,2.75,...,0.169007,0.169007,0.169008,0.169008,7.732492,7.732492,7.730384,7.730384,17.39,17.39
3,1,16.35,0.8269,1.0780,0.187,22.80,87.96,31.44,0.33,1.97,...,0.091248,0.071012,0.091258,0.071019,27.901108,27.939308,27.899747,27.937402,16.35,16.35
4,1,15.29,0.3354,1.2460,0.828,13.34,337.18,276.95,300.49,1.66,...,0.121107,0.113638,0.121109,0.113639,12.570617,12.951696,12.568316,12.949567,15.29,15.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22987,0,26.00,0.4009,1.1570,0.693,6.16,318.85,274.60,84.83,1.62,...,0.068423,0.032014,0.176214,0.168189,13.768289,13.681822,13.765246,13.675082,26.00,26.00
22988,0,26.30,0.1793,1.1400,0.935,4.57,127.93,293.97,211.62,1.34,...,0.062733,0.062733,0.295667,0.295667,8.718537,8.718537,8.716637,8.716637,26.30,26.30
22989,1,20.10,0.7479,2.4500,0.618,6.74,304.89,113.44,289.53,4.28,...,0.113446,0.120979,0.142407,0.136488,21.706689,23.156397,21.705478,23.154787,20.10,20.10
22990,0,23.30,0.3280,1.3560,0.912,1.44,86.78,138.10,264.23,1.80,...,0.067763,0.089389,0.072833,0.090703,8.463972,8.233799,8.451608,8.203806,23.30,23.30
22991,0,28.40,0.2239,0.9142,0.710,8.05,320.80,304.38,32.41,1.12,...,0.103537,0.125950,0.123010,0.128221,8.268958,7.952101,8.263729,7.949476,28.40,28.40

In [20]:
# Determine the number of unique values in each column.
neo_cad_stat_df.nunique()

pha                    2
h                   1278
e                   5749
a                   3211
q                   1022
i                   3203
om                  9851
w                   9877
ma                  9799
ad                   467
n                   6142
per                  936
per_y                889
moid                2274
moid_ld             2349
moid_jup             624
t_jup                600
sigma_e              560
sigma_a              560
sigma_q              528
sigma_i              511
sigma_om             490
sigma_w              499
sigma_ma             607
sigma_ad             688
sigma_n              684
sigma_tp             604
sigma_per            696
class                  7
data_arc            3820
condition_code        10
rms                 9995
avg_dist           11496
median_dist        11496
avg_dist_min       11496
median_dist_min    11496
avg_dist_max       11496
median_dist_max    11496
avg_v_rel          11496
median_v_rel       11496
avg_v_inf          11496
median_v_inf       11496
avg_h               1418
median_h            1418
dtype: int64

In [21]:
neo_cad_stat_df.dtypes

pha                  int64
h                  float64
e                  float64
a                  float64
q                  float64
i                  float64
om                 float64
w                  float64
ma                 float64
ad                 float64
n                  float64
per                float64
per_y              float64
moid               float64
moid_ld            float64
moid_jup           float64
t_jup              float64
sigma_e            float64
sigma_a            float64
sigma_q            float64
sigma_i            float64
sigma_om           float64
sigma_w            float64
sigma_ma           float64
sigma_ad           float64
sigma_n            float64
sigma_tp           float64
sigma_per          float64
class               object
data_arc           float64
condition_code       int64
rms                float64
avg_dist           float64
median_dist        float64
avg_dist_min       float64
median_dist_min    float64
avg_dist_max       float64
median_dist_max    float64
avg_v_rel          float64
median_v_rel       float64
avg_v_inf          float64
median_v_inf       float64
avg_h              float64
median_h           float64
dtype: object

In [22]:
# Generate our categorical variable lists
application_cat = ["class"]

In [29]:
#I porting Machine learning dependancies
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [30]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(neo_cad_stat_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df

C:\Users\Fred\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,class_AMO,class_APO,class_ATE,class_ETc,class_IEO,class_JFC,class_JFc
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
22987,0.0,1.0,0.0,0.0,0.0,0.0,0.0
22988,0.0,1.0,0.0,0.0,0.0,0.0,0.0
22989,0.0,1.0,0.0,0.0,0.0,0.0,0.0
22990,0.0,1.0,0.0,0.0,0.0,0.0,0.0
22991,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [31]:
# Merge one-hot encoded features and drop the originals
complete_merged_df = neo_cad_stat_df.merge(encode_df, left_index=True, right_index=True).drop(columns=application_cat, axis=1)
complete_merged_df.head()

,pha,h,e,a,q,i,om,w,ma,ad,...,median_v_inf,avg_h,median_h,class_AMO,class_APO,class_ATE,class_ETc,class_IEO,class_JFC,class_JFc
0,0,10.43,0.2227,1.458,1.133,10.83,304.30,178.90,246.90,1.78,...,5.895085,10.43,10.43,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,13.87,0.5705,2.473,1.062,9.39,110.43,350.49,86.61,3.88,...,9.756147,13.87,13.87,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,17.39,0.4358,1.919,1.082,11.88,171.32,26.64,261.04,2.75,...,7.730384,17.39,17.39,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,16.35,0.8269,1.078,0.187,22.80,87.96,31.44,0.33,1.97,...,27.937402,16.35,16.35,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1,15.29,0.3354,1.246,0.828,13.34,337.18,276.95,300.49,1.66,...,12.949567,15.29,15.29,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [32]:
# Create our features and variables for ML
X = complete_merged_df.drop("pha", axis=1)
# Create our target
y = complete_merged_df["pha"]

In [33]:
#showing list of all columns for our feature variables
print(X.columns.tolist())

['h', 'e', 'a', 'q', 'i', 'om', 'w', 'ma', 'ad', 'n', 'per', 'per_y', 'moid', 'moid_ld', 'moid_jup', 't_jup', 'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w', 'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per', 'data_arc', 'condition_code', 'rms', 'avg_dist', 'median_dist', 'avg_dist_min', 'median_dist_min', 'avg_dist_max', 'median_dist_max', 'avg_v_rel', 'median_v_rel', 'avg_v_inf', 'median_v_inf', 'avg_h', 'median_h', 'class_AMO', 'class_APO', 'class_ATE', 'class_ETc', 'class_IEO', 'class_JFC', 'class_JFc']

In [35]:
# Check the balance of our target variables
y.value_counts()

0    19292
1     3700
Name: pha, dtype: int64