In [1]:
#importing dependencies to load tables from postgress
from getpass import getpass
from sqlalchemy import create_engine,Table, MetaData, text, func
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
import sqlalchemy_utils
from local_settings import password
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect
import pyodbc

In [2]:
db_string = f"postgresql://postgres:{password}@neo-db.ctohlxwhjvlb.us-east-1.rds.amazonaws.com:5432/neo"

In [3]:
engine = create_engine(db_string)

In [4]:
#retrieving a url from our engine for postgress
engine.url

postgresql://postgres:***@neo-db.ctohlxwhjvlb.us-east-1.rds.amazonaws.com:5432/neo

In [5]:
# reflect the AWS database into a new model
Base = automap_base()

In [6]:
# Reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view the classes that automap found
Base.classes

In [8]:
# Create our session (link) from Python to the DB
Session = sessionmaker(engine)
print(session)

<module 'sqlalchemy.orm.session' from 'C:\\Users\\Fred\\anaconda3\\envs\\mlenv\\lib\\site-packages\\sqlalchemy\\orm\\session.py'>

In [9]:
# starting to read from neo table
with engine.connect() as conn:
    neo_df = pd.read_sql("Select * from neo",con=engine)
neo_df

,spkid,full_name,pdes,pha,h,h_sigma,orbit_id,epoch,epoch.mjd,epoch.cal,...,sigma_tp,sigma_per,class,producer,data_arc,first_obs,last_obs,n_obs_used,condition_code,rms
0,3838192,(2019 CV2),2019 CV2,N,21.40,0.31,7,2459600.5,59600,2022-01-21.0,...,0.41000,0.41000,AMO,Otto Matic,49.0,2019-02-04,2019-03-25,32,6.0,0.26804
1,3838195,(2019 CW2),2019 CW2,N,20.70,0.38,5,2459600.5,59600,2022-01-21.0,...,0.36000,0.36000,AMO,Otto Matic,87.0,2019-02-04,2019-05-02,24,6.0,0.48516
2,3838194,(2019 CX2),2019 CX2,N,18.80,0.41,12,2459600.5,59600,2022-01-21.0,...,0.05200,0.05200,APO,Otto Matic,62.0,2019-02-05,2019-04-08,55,5.0,0.40329
3,3838193,(2019 CY2),2019 CY2,N,26.73,0.47,JPL 7,2458524.5,58524,2019-02-10.0,...,0.01300,15.00000,APO,Otto Matic,4.0,2019-02-08,2019-02-12,29,8.0,0.44929
4,3838208,(2019 CZ2),2019 CZ2,N,24.60,0.46,16,2459600.5,59600,2022-01-21.0,...,0.32000,0.16000,APO,Otto Matic,52.0,2019-02-05,2019-03-29,63,6.0,0.53614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28022,3838184,(2019 CL2),2019 CL2,N,23.30,0.33,25,2459600.5,59600,2022-01-21.0,...,0.00065,0.00032,APO,Otto Matic,243.0,2019-01-03,2019-09-03,137,2.0,0.39482
28023,3838185,(2019 CM2),2019 CM2,N,21.10,0.38,JPL 4,2458521.5,58521,2019-02-07.0,...,0.16000,13.00000,AMO,Otto Matic,7.0,2019-02-05,2019-02-12,49,9.0,0.29841
28024,3838186,(2019 CN2),2019 CN2,N,28.40,0.52,8,2459600.5,59600,2022-01-21.0,...,0.00330,0.00097,ATE,Otto Matic,5.0,2019-02-04,2019-02-09,23,4.0,0.49789
28025,3838190,(2019 CT2),2019 CT2,N,23.10,0.39,8,2459600.5,59600,2022-01-21.0,...,0.05100,0.02500,AMO,Otto Matic,58.0,2019-02-04,2019-04-03,31,5.0,0.41537
28026,3838191,(2019 CU2),2019 CU2,N,22.00,0.22,7,2459600.5,59600,2022-01-21.0,...,0.59000,0.60000,AMO,Otto Matic,36.0,2019-02-04,2019-03-12,27,6.0,0.39768

In [10]:
# starting to read from cad_stat table into a data frame
with engine.connect() as conn:
    cad_stat_df = pd.read_sql("Select * from cad_stats",con=engine)
cad_stat_df

,des,avg_dist,median_dist,avg_dist_min,median_dist_min,avg_dist_max,median_dist_max,avg_v_rel,median_v_rel,avg_v_inf,median_v_inf,avg_h,median_h
0,100004,0.171272,0.171272,0.171271,0.171271,0.171272,0.171272,16.693630,16.693630,16.692684,16.692684,16.49,16.49
1,100756,0.137010,0.137010,0.137009,0.137009,0.137011,0.137011,8.385470,8.385470,8.383151,8.383151,16.27,16.27
2,100926,0.192040,0.192040,0.192038,0.192038,0.192041,0.192041,15.138221,15.138221,15.137288,15.137288,16.65,16.65
3,10115,0.129787,0.137266,0.129787,0.137266,0.129787,0.137267,12.032556,11.404438,12.030234,11.401381,17.08,17.08
4,10145,0.115595,0.127593,0.115593,0.127591,0.115596,0.127595,19.749914,20.594865,19.748600,20.593851,16.99,16.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11574,99248,0.143393,0.169927,0.143388,0.169923,0.143398,0.169930,12.478746,12.060377,12.476791,12.057815,16.53,16.53
11575,99799,0.138672,0.138672,0.138671,0.138671,0.138672,0.138672,5.078622,5.078622,5.074620,5.074620,18.36,18.36
11576,99907,0.175814,0.174314,0.175812,0.174313,0.175816,0.174315,17.825862,17.387091,17.825002,17.386195,17.91,17.91
11577,99935,0.180719,0.179889,0.180719,0.179889,0.180720,0.179890,20.658150,20.577422,20.657430,20.576675,16.05,16.05
11578,99942,0.069514,0.080326,0.067562,0.078951,0.071474,0.081701,5.894050,4.694752,5.662058,4.681041,19.70,19.70

In [11]:
#joining our tables (neo and cad_stat) using sqlalchemy and copying it into a pandas data frame
with engine.connect() as conn:
    neo_cad_stat_df =pd.read_sql("SELECT DISTINCT neo.*, cadh.orbit_id AS orbit_id_cad, cadh.jd, cadh.cd, cadh.dist, cadh.dist_min, cadh.dist_max, cadh.v_rel, cadh.v_inf, cadh.t_sigma_f, cadh.h AS h_cad FROM neo JOIN (SELECT * FROM cad_history WHERE des IN(SELECT l1.des FROM (SELECT des, MAX(cd) FROM cad_history GROUP BY des) AS l1) AND cd IN(SELECT l2.recent FROM (SELECT des, MAX(cd) AS recent FROM cad_history GROUP BY des) AS l2)) AS cadh ON (cadh.des = neo.pdes)", con=engine)

    #neo_cad_stat_df =pd.read_sql("select neo.*, cad_stats.* from neo inner join cad_stats on neo.pdes = cad_stats.des", con=engine)

In [12]:
#printing the results of the merged data frames
neo_cad_stat_df

,spkid,full_name,pdes,pha,h,h_sigma,orbit_id,epoch,epoch.mjd,epoch.cal,...,orbit_id_cad,jd,cd,dist,dist_min,dist_max,v_rel,v_inf,t_sigma_f,h_cad
0,1000009,23P/Brorsen-Metcalf,23P,None,NaN,NaN,JPL 13,2447800.5,47800,1989-10-01.0,...,13,2422207.34244,1919-09-05 20:13:00,0.198574,0.198573,0.198575,31.184743,31.184313,< 00:01,NaN
1,1000020,72P/Denning-Fujikawa,72P,None,NaN,NaN,JPL 21,2456981.5,56981,2014-11-20.0,...,21,2440461.580868988,1969-08-28 01:56:00,0.186104,0.186080,0.186127,15.664161,15.663247,00:06,NaN
2,1000025,2P/Encke,2P,None,NaN,NaN,JPL K204/19,2457296.5,57296,2015-10-01.0,...,K204/19,2450634.357873852,1997-07-04 20:35:00,0.190226,0.190224,0.190228,31.636711,31.636268,< 00:01,NaN
3,1000034,26P/Grigg-Skjellerup,26P,None,NaN,NaN,JPL K234/2,2455316.5,55316,2010-04-30.0,...,K234/2,2443235.957528837,1977-04-02 10:59:00,0.181872,0.181836,0.181908,16.879140,16.878272,00:05,NaN
4,1000036,1P/Halley,1P,None,NaN,NaN,JPL J863/77,2449400.5,49400,1994-02-17.0,...,J863/77,2418812.0347,1910-05-20 12:49:00,0.151350,0.151350,0.151351,70.558951,70.558701,< 00:01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22489,54232322,(2022 AC),2022 AC,N,25.30,0.30,JPL 3,2459582.5,59582,2022-01-03.0,...,4,2459577.312236213,2021-12-28 19:30:00,0.007381,0.007342,0.007419,9.393102,9.354590,< 00:01,25.316
22490,54234943,(2022 AD),2022 AD,N,24.12,0.64,JPL 2,2459600.5,59600,2022-01-21.0,...,8,2459416.797308665,2021-07-21 07:08:00,0.096300,0.096097,0.096518,7.335460,7.331688,04:15,24.360
22491,54235404,(2022 AE),2022 AE,N,24.59,0.30,JPL 1,2459583.5,59583,2022-01-04.0,...,2,2459576.760680086,2021-12-28 06:15:00,0.015523,0.015306,0.015740,18.534543,18.525280,00:16,24.546
22492,54235406,(2022 AG),2022 AG,N,25.01,0.27,JPL 1,2459583.5,59583,2022-01-04.0,...,10,2458085.948275173,2017-11-28 10:46:00,0.084764,0.080905,0.088733,5.832916,5.827525,08:04,25.138
22493,54235407,(2022 AH),2022 AH,N,22.86,0.52,JPL 1,2459583.5,59583,2022-01-04.0,...,8,2459575.828712736,2021-12-27 07:53:00,0.026610,0.026425,0.026795,12.679904,12.672005,00:01,22.811

In [13]:
## from this stage, I will start working on pre-processing and cleaning of the data

In [14]:
# Drop the null columns where all values are null
neo_cad_stat_df = neo_cad_stat_df.dropna(axis='columns', how='all')
neo_cad_stat_df

,spkid,full_name,pdes,pha,h,h_sigma,orbit_id,epoch,epoch.mjd,epoch.cal,...,orbit_id_cad,jd,cd,dist,dist_min,dist_max,v_rel,v_inf,t_sigma_f,h_cad
0,1000009,23P/Brorsen-Metcalf,23P,None,NaN,NaN,JPL 13,2447800.5,47800,1989-10-01.0,...,13,2422207.34244,1919-09-05 20:13:00,0.198574,0.198573,0.198575,31.184743,31.184313,< 00:01,NaN
1,1000020,72P/Denning-Fujikawa,72P,None,NaN,NaN,JPL 21,2456981.5,56981,2014-11-20.0,...,21,2440461.580868988,1969-08-28 01:56:00,0.186104,0.186080,0.186127,15.664161,15.663247,00:06,NaN
2,1000025,2P/Encke,2P,None,NaN,NaN,JPL K204/19,2457296.5,57296,2015-10-01.0,...,K204/19,2450634.357873852,1997-07-04 20:35:00,0.190226,0.190224,0.190228,31.636711,31.636268,< 00:01,NaN
3,1000034,26P/Grigg-Skjellerup,26P,None,NaN,NaN,JPL K234/2,2455316.5,55316,2010-04-30.0,...,K234/2,2443235.957528837,1977-04-02 10:59:00,0.181872,0.181836,0.181908,16.879140,16.878272,00:05,NaN
4,1000036,1P/Halley,1P,None,NaN,NaN,JPL J863/77,2449400.5,49400,1994-02-17.0,...,J863/77,2418812.0347,1910-05-20 12:49:00,0.151350,0.151350,0.151351,70.558951,70.558701,< 00:01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22489,54232322,(2022 AC),2022 AC,N,25.30,0.30,JPL 3,2459582.5,59582,2022-01-03.0,...,4,2459577.312236213,2021-12-28 19:30:00,0.007381,0.007342,0.007419,9.393102,9.354590,< 00:01,25.316
22490,54234943,(2022 AD),2022 AD,N,24.12,0.64,JPL 2,2459600.5,59600,2022-01-21.0,...,8,2459416.797308665,2021-07-21 07:08:00,0.096300,0.096097,0.096518,7.335460,7.331688,04:15,24.360
22491,54235404,(2022 AE),2022 AE,N,24.59,0.30,JPL 1,2459583.5,59583,2022-01-04.0,...,2,2459576.760680086,2021-12-28 06:15:00,0.015523,0.015306,0.015740,18.534543,18.525280,00:16,24.546
22492,54235406,(2022 AG),2022 AG,N,25.01,0.27,JPL 1,2459583.5,59583,2022-01-04.0,...,10,2458085.948275173,2017-11-28 10:46:00,0.084764,0.080905,0.088733,5.832916,5.827525,08:04,25.138
22493,54235407,(2022 AH),2022 AH,N,22.86,0.52,JPL 1,2459583.5,59583,2022-01-04.0,...,8,2459575.828712736,2021-12-27 07:53:00,0.026610,0.026425,0.026795,12.679904,12.672005,00:01,22.811

In [15]:
#getting a summary of null values for each column
neo_cad_stat_df.isnull().sum()

spkid                 0
full_name             0
pdes                  0
pha                 104
h                   104
h_sigma           14304
orbit_id              0
epoch                 0
epoch.mjd             0
epoch.cal             0
e                     0
a                     0
q                     0
i                     0
om                    0
w                     0
ma                    0
ad                    0
n                     0
tp                    0
tp_cal                0
per                   0
per_y                 0
moid                  0
moid_ld               0
moid_jup             64
t_jup                 0
sigma_e               0
sigma_a               0
sigma_q               0
sigma_i               0
sigma_om              0
sigma_w               0
sigma_ma              0
sigma_ad              0
sigma_n               0
sigma_tp              0
sigma_per             0
class                 0
producer              0
data_arc            198
first_obs             0
last_obs              0
n_obs_used            0
condition_code        1
rms                   0
orbit_id_cad          0
jd                    0
cd                    0
dist                  0
dist_min              0
dist_max              0
v_rel                 0
v_inf                 3
t_sigma_f             0
h_cad               104
dtype: int64

In [16]:
# deleting "h_sigma" column since it contains manu null values
neo_cad_stat_df = neo_cad_stat_df.drop(columns =['h_sigma'] ,axis=1)
neo_cad_stat_df

,spkid,full_name,pdes,pha,h,orbit_id,epoch,epoch.mjd,epoch.cal,e,...,orbit_id_cad,jd,cd,dist,dist_min,dist_max,v_rel,v_inf,t_sigma_f,h_cad
0,1000009,23P/Brorsen-Metcalf,23P,None,NaN,JPL 13,2447800.5,47800,1989-10-01.0,0.9720,...,13,2422207.34244,1919-09-05 20:13:00,0.198574,0.198573,0.198575,31.184743,31.184313,< 00:01,NaN
1,1000020,72P/Denning-Fujikawa,72P,None,NaN,JPL 21,2456981.5,56981,2014-11-20.0,0.8192,...,21,2440461.580868988,1969-08-28 01:56:00,0.186104,0.186080,0.186127,15.664161,15.663247,00:06,NaN
2,1000025,2P/Encke,2P,None,NaN,JPL K204/19,2457296.5,57296,2015-10-01.0,0.8483,...,K204/19,2450634.357873852,1997-07-04 20:35:00,0.190226,0.190224,0.190228,31.636711,31.636268,< 00:01,NaN
3,1000034,26P/Grigg-Skjellerup,26P,None,NaN,JPL K234/2,2455316.5,55316,2010-04-30.0,0.6336,...,K234/2,2443235.957528837,1977-04-02 10:59:00,0.181872,0.181836,0.181908,16.879140,16.878272,00:05,NaN
4,1000036,1P/Halley,1P,None,NaN,JPL J863/77,2449400.5,49400,1994-02-17.0,0.9671,...,J863/77,2418812.0347,1910-05-20 12:49:00,0.151350,0.151350,0.151351,70.558951,70.558701,< 00:01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22489,54232322,(2022 AC),2022 AC,N,25.30,JPL 3,2459582.5,59582,2022-01-03.0,0.4371,...,4,2459577.312236213,2021-12-28 19:30:00,0.007381,0.007342,0.007419,9.393102,9.354590,< 00:01,25.316
22490,54234943,(2022 AD),2022 AD,N,24.12,JPL 2,2459600.5,59600,2022-01-21.0,0.0586,...,8,2459416.797308665,2021-07-21 07:08:00,0.096300,0.096097,0.096518,7.335460,7.331688,04:15,24.360
22491,54235404,(2022 AE),2022 AE,N,24.59,JPL 1,2459583.5,59583,2022-01-04.0,0.6969,...,2,2459576.760680086,2021-12-28 06:15:00,0.015523,0.015306,0.015740,18.534543,18.525280,00:16,24.546
22492,54235406,(2022 AG),2022 AG,N,25.01,JPL 1,2459583.5,59583,2022-01-04.0,0.1730,...,10,2458085.948275173,2017-11-28 10:46:00,0.084764,0.080905,0.088733,5.832916,5.827525,08:04,25.138
22493,54235407,(2022 AH),2022 AH,N,22.86,JPL 1,2459583.5,59583,2022-01-04.0,0.4106,...,8,2459575.828712736,2021-12-27 07:53:00,0.026610,0.026425,0.026795,12.679904,12.672005,00:01,22.811

In [17]:
#filling the null values with 0 in preperation of our data for ML
neo_cad_stat_df= neo_cad_stat_df.fillna(value =0)
neo_cad_stat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22494 entries, 0 to 22493
Data columns (total 55 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   spkid           22494 non-null  object
 1   full_name       22494 non-null  object
 2   pdes            22494 non-null  object
 3   pha             22494 non-null  object
 4   h               22494 non-null  float64
 5   orbit_id        22494 non-null  object
 6   epoch           22494 non-null  float64
 7   epoch.mjd       22494 non-null  object
 8   epoch.cal       22494 non-null  object
 9   e               22494 non-null  float64
 10  a               22494 non-null  float64
 11  q               22494 non-null  float64
 12  i               22494 non-null  float64
 13  om              22494 non-null  float64
 14  w               22494 non-null  float64
 15  ma              22494 non-null  float64
 16  ad              22494 non-null  float64
 17  n               22494 non-null  float64
 18  tp              22494 non-null  float64
 19  tp_cal          22494 non-null  object
 20  per             22494 non-null  float64
 21  per_y           22494 non-null  float64
 22  moid            22494 non-null  float64
 23  moid_ld         22494 non-null  float64
 24  moid_jup        22494 non-null  float64
 25  t_jup           22494 non-null  float64
 26  sigma_e         22494 non-null  float64
 27  sigma_a         22494 non-null  float64
 28  sigma_q         22494 non-null  float64
 29  sigma_i         22494 non-null  float64
 30  sigma_om        22494 non-null  float64
 31  sigma_w         22494 non-null  float64
 32  sigma_ma        22494 non-null  float64
 33  sigma_ad        22494 non-null  float64
 34  sigma_n         22494 non-null  float64
 35  sigma_tp        22494 non-null  float64
 36  sigma_per       22494 non-null  float64
 37  class           22494 non-null  object
 38  producer        22494 non-null  object
 39  data_arc        22494 non-null  float64
 40  first_obs       22494 non-null  object
 41  last_obs        22494 non-null  object
 42  n_obs_used      22494 non-null  int64
 43  condition_code  22494 non-null  float64
 44  rms             22494 non-null  float64
 45  orbit_id_cad    22494 non-null  object
 46  jd              22494 non-null  object
 47  cd              22494 non-null  datetime64[ns]
 48  dist            22494 non-null  float64
 49  dist_min        22494 non-null  float64
 50  dist_max        22494 non-null  float64
 51  v_rel           22494 non-null  float64
 52  v_inf           22494 non-null  float64
 53  t_sigma_f       22494 non-null  object
 54  h_cad           22494 non-null  float64
dtypes: datetime64[ns](1), float64(38), int64(1), object(15)
memory usage: 9.4+ MB

In [18]:
# transform pha to 1 or 0 from object variables of Yes and No
def change(type):
    if type == "Y":
        return 1
    else:
        return 0
    
neo_cad_stat_df["pha"] = neo_cad_stat_df["pha"].apply(change)
neo_cad_stat_df.head()

,spkid,full_name,pdes,pha,h,orbit_id,epoch,epoch.mjd,epoch.cal,e,...,orbit_id_cad,jd,cd,dist,dist_min,dist_max,v_rel,v_inf,t_sigma_f,h_cad
0,1000009,23P/Brorsen-Metcalf,23P,0,0.0,JPL 13,2447800.5,47800,1989-10-01.0,0.9720,...,13,2422207.34244,1919-09-05 20:13:00,0.198574,0.198573,0.198575,31.184743,31.184313,< 00:01,0.0
1,1000020,72P/Denning-Fujikawa,72P,0,0.0,JPL 21,2456981.5,56981,2014-11-20.0,0.8192,...,21,2440461.580868988,1969-08-28 01:56:00,0.186104,0.186080,0.186127,15.664161,15.663247,00:06,0.0
2,1000025,2P/Encke,2P,0,0.0,JPL K204/19,2457296.5,57296,2015-10-01.0,0.8483,...,K204/19,2450634.357873852,1997-07-04 20:35:00,0.190226,0.190224,0.190228,31.636711,31.636268,< 00:01,0.0
3,1000034,26P/Grigg-Skjellerup,26P,0,0.0,JPL K234/2,2455316.5,55316,2010-04-30.0,0.6336,...,K234/2,2443235.957528837,1977-04-02 10:59:00,0.181872,0.181836,0.181908,16.879140,16.878272,00:05,0.0
4,1000036,1P/Halley,1P,0,0.0,JPL J863/77,2449400.5,49400,1994-02-17.0,0.9671,...,J863/77,2418812.0347,1910-05-20 12:49:00,0.151350,0.151350,0.151351,70.558951,70.558701,< 00:01,0.0

In [20]:
# deleting unnessacary string columns for preparation of Machine Learning
neo_cad_stat_df = neo_cad_stat_df.drop(columns =['spkid','full_name','epoch.cal','n_obs_used','pdes','orbit_id','producer',
                                                'epoch','epoch.mjd','last_obs','first_obs','tp','tp_cal'] ,axis=1)
neo_cad_stat_df

,pha,h,e,a,q,i,om,w,ma,ad,...,orbit_id_cad,jd,cd,dist,dist_min,dist_max,v_rel,v_inf,t_sigma_f,h_cad
0,0,0.00,0.9720,17.0700,0.479,19.33,311.59,129.61,0.27,33.66,...,13,2422207.34244,1919-09-05 20:13:00,0.198574,0.198573,0.198575,31.184743,31.184313,< 00:01,0.000
1,0,0.00,0.8192,4.3360,0.784,9.17,36.11,337.86,14.34,7.89,...,21,2440461.580868988,1969-08-28 01:56:00,0.186104,0.186080,0.186127,15.664161,15.663247,00:06,0.000
2,0,0.00,0.8483,2.2150,0.336,11.78,334.57,186.55,202.74,4.09,...,K204/19,2450634.357873852,1997-07-04 20:35:00,0.190226,0.190224,0.190228,31.636711,31.636268,< 00:01,0.000
3,0,0.00,0.6336,3.0390,1.114,22.39,211.65,1.65,142.75,4.96,...,K234/2,2443235.957528837,1977-04-02 10:59:00,0.181872,0.181836,0.181908,16.879140,16.878272,00:05,0.000
4,0,0.00,0.9671,17.8300,0.586,162.26,58.42,111.33,38.38,35.08,...,J863/77,2418812.0347,1910-05-20 12:49:00,0.151350,0.151350,0.151351,70.558951,70.558701,< 00:01,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22489,0,25.30,0.4371,0.7163,0.403,4.01,281.52,14.50,146.17,1.03,...,4,2459577.312236213,2021-12-28 19:30:00,0.007381,0.007342,0.007419,9.393102,9.354590,< 00:01,25.316
22490,0,24.12,0.0586,0.9867,0.929,12.83,109.95,177.76,192.72,1.04,...,8,2459416.797308665,2021-07-21 07:08:00,0.096300,0.096097,0.096518,7.335460,7.331688,04:15,24.360
22491,0,24.59,0.6969,2.4530,0.743,13.68,96.50,295.24,11.94,4.16,...,2,2459576.760680086,2021-12-28 06:15:00,0.015523,0.015306,0.015740,18.534543,18.525280,00:16,24.546
22492,0,25.01,0.1730,0.8573,0.709,3.92,302.94,333.90,189.79,1.01,...,10,2458085.948275173,2017-11-28 10:46:00,0.084764,0.080905,0.088733,5.832916,5.827525,08:04,25.138
22493,0,22.86,0.4106,1.3280,0.783,12.85,93.56,292.47,36.40,1.87,...,8,2459575.828712736,2021-12-27 07:53:00,0.026610,0.026425,0.026795,12.679904,12.672005,00:01,22.811

In [21]:
# Determine the number of unique values in each column.
neo_cad_stat_df.nunique()

pha                   2
h                  1378
e                  6995
a                  3515
q                  1070
i                  3716
om                16642
w                 16693
ma                15686
ad                  511
n                  7600
per                 964
per_y               964
moid               2602
moid_ld            2679
moid_jup            879
t_jup               623
sigma_e             682
sigma_a             682
sigma_q             630
sigma_i             602
sigma_om            598
sigma_w             610
sigma_ma            666
sigma_ad            839
sigma_n             812
sigma_tp            656
sigma_per           857
class                 8
data_arc           4023
condition_code       10
rms               17584
orbit_id_cad        321
jd                22494
cd                22434
dist              22494
dist_min          22482
dist_max          22494
v_rel             22494
v_inf             22492
t_sigma_f          2029
h_cad              1721
dtype: int64

In [22]:
neo_cad_stat_df.dtypes

pha                        int64
h                        float64
e                        float64
a                        float64
q                        float64
i                        float64
om                       float64
w                        float64
ma                       float64
ad                       float64
n                        float64
per                      float64
per_y                    float64
moid                     float64
moid_ld                  float64
moid_jup                 float64
t_jup                    float64
sigma_e                  float64
sigma_a                  float64
sigma_q                  float64
sigma_i                  float64
sigma_om                 float64
sigma_w                  float64
sigma_ma                 float64
sigma_ad                 float64
sigma_n                  float64
sigma_tp                 float64
sigma_per                float64
class                     object
data_arc                 float64
condition_code           float64
rms                      float64
orbit_id_cad              object
jd                        object
cd                datetime64[ns]
dist                     float64
dist_min                 float64
dist_max                 float64
v_rel                    float64
v_inf                    float64
t_sigma_f                 object
h_cad                    float64
dtype: object

In [23]:
# Generate our categorical variable lists
application_cat = ["class"]

In [24]:
#I porting Machine learning dependancies
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [25]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(neo_cad_stat_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df

C:\Users\Fred\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,class_AMO,class_APO,class_ATE,class_ETc,class_HTC,class_IEO,class_JFC,class_JFc
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
22489,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
22490,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
22491,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
22492,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
22493,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
# Merge one-hot encoded features and drop the originals
complete_merged_df = neo_cad_stat_df.merge(encode_df, left_index=True, right_index=True).drop(columns=application_cat, axis=1)
complete_merged_df.head()

,pha,h,e,a,q,i,om,w,ma,ad,...,t_sigma_f,h_cad,class_AMO,class_APO,class_ATE,class_ETc,class_HTC,class_IEO,class_JFC,class_JFc
0,0,0.0,0.9720,17.070,0.479,19.33,311.59,129.61,0.27,33.66,...,< 00:01,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0,0.0,0.8192,4.336,0.784,9.17,36.11,337.86,14.34,7.89,...,00:06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0,0.0,0.8483,2.215,0.336,11.78,334.57,186.55,202.74,4.09,...,< 00:01,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0,0.0,0.6336,3.039,1.114,22.39,211.65,1.65,142.75,4.96,...,00:05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0,0.0,0.9671,17.830,0.586,162.26,58.42,111.33,38.38,35.08,...,< 00:01,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [27]:
# Create our features and variables for ML
X = complete_merged_df.drop("pha", axis=1)
# Create our target
y = complete_merged_df["pha"]

In [28]:
#showing list of all columns for our feature variables
print(X.columns.tolist())

['h', 'e', 'a', 'q', 'i', 'om', 'w', 'ma', 'ad', 'n', 'per', 'per_y', 'moid', 'moid_ld', 'moid_jup', 't_jup', 'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w', 'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per', 'data_arc', 'condition_code', 'rms', 'orbit_id_cad', 'jd', 'cd', 'dist', 'dist_min', 'dist_max', 'v_rel', 'v_inf', 't_sigma_f', 'h_cad', 'class_AMO', 'class_APO', 'class_ATE', 'class_ETc', 'class_HTC', 'class_IEO', 'class_JFC', 'class_JFc']

In [33]:
X.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [29]:
# Check the balance of our target variables
y.value_counts()

0    20408
1     2086
Name: pha, dtype: int64

In [30]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [31]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

ValueError: could not convert string to float: 'K171/18'

In [ ]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [ ]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [ ]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
print (len(predictions))

In [ ]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

In [ ]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [ ]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

In [ ]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

In [ ]:
# sorting the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)