In [1]:
# Import warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import our dependancies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [3]:
# Load the data
file_path = Path('Resources/sbdb_query_results.csv')
df = pd.read_csv(file_path)
df

,full_name,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,n_obs_used,n_del_obs_used,n_dop_obs_used,H
0,433 Eros (A898 PA),1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,9130,4.0,2.0,10.43
1,719 Albert (A911 TB),2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,1894,NaN,NaN,15.51
2,887 Alinda (A918 AA),2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,2624,NaN,NaN,13.87
3,1036 Ganymed (A924 UB),2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,7159,0.0,1.0,9.25
4,1221 Amor (1932 EA1),1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,573,NaN,NaN,17.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,C/2020 P4-B,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,9.0,80,NaN,NaN,NaN
28048,C/2020 P4-C,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,9.0,29,NaN,NaN,NaN
28049,P/2021 HS (PANSTARRS),4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,4.0,181,NaN,NaN,NaN
28050,P/2021 N1 (ZTF),2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,7.0,84,NaN,NaN,NaN
28051,P/2021 Q5 (ATLAS),3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,7.0,258,NaN,NaN,NaN

In [4]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
df

,full_name,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,n_obs_used,n_del_obs_used,n_dop_obs_used,H
0,433 Eros (A898 PA),1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,9130,4.0,2.0,10.43
1,719 Albert (A911 TB),2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,1894,NaN,NaN,15.51
2,887 Alinda (A918 AA),2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,2624,NaN,NaN,13.87
3,1036 Ganymed (A924 UB),2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,7159,0.0,1.0,9.25
4,1221 Amor (1932 EA1),1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,573,NaN,NaN,17.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,C/2020 P4-B,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,9.0,80,NaN,NaN,NaN
28048,C/2020 P4-C,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,9.0,29,NaN,NaN,NaN
28049,P/2021 HS (PANSTARRS),4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,4.0,181,NaN,NaN,NaN
28050,P/2021 N1 (ZTF),2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,7.0,84,NaN,NaN,NaN
28051,P/2021 Q5 (ATLAS),3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,7.0,258,NaN,NaN,NaN

In [5]:
# I realized that this mock-up data set does not contain target value column "PHA" SO I am going to import a new data set
# Load the data
file_path = Path('Resources/sbdb_query_results_2.csv')
df = pd.read_csv(file_path)
df

,full_name,a,e,i,om,w,q,ad,per.y,data_arc,...,GM,BV,spec_T,H_sigma,diameter_sigma,orbit_id,epoch,epoch.mjd,epoch.cal,equinox
0,433 Eros (A898 PA),1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,...,0.000446,0.921,S,NaN,0.06,JPL 659,2459600.5,59600,2022-01-21.0,J2000
1,719 Albert (A911 TB),2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,...,NaN,NaN,NaN,NaN,NaN,JPL 221,2459600.5,59600,2022-01-21.0,J2000
2,887 Alinda (A918 AA),2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,...,NaN,0.832,S,NaN,NaN,JPL 428,2459600.5,59600,2022-01-21.0,J2000
3,1036 Ganymed (A924 UB),2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,...,NaN,0.842,S,NaN,0.40,JPL 949,2459600.5,59600,2022-01-21.0,J2000
4,1221 Amor (1932 EA1),1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,...,NaN,NaN,NaN,NaN,NaN,JPL 110,2459600.5,59600,2022-01-21.0,J2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,C/2020 P4-B,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,...,NaN,NaN,NaN,NaN,NaN,JPL 2,2459068.5,59068,2020-08-07.0,J2000
28048,C/2020 P4-C,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,...,NaN,NaN,NaN,NaN,NaN,JPL 2,2459069.5,59069,2020-08-08.0,J2000
28049,P/2021 HS (PANSTARRS),4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,...,NaN,NaN,NaN,NaN,NaN,JPL 39,2459398.5,59398,2021-07-03.0,J2000
28050,P/2021 N1 (ZTF),2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,...,NaN,NaN,NaN,NaN,NaN,JPL 2,2459402.5,59402,2021-07-07.0,J2000
28051,P/2021 Q5 (ATLAS),3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,...,NaN,NaN,NaN,NaN,NaN,JPL 7,2459472.5,59472,2021-09-15.0,J2000

In [6]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
df

,full_name,a,e,i,om,w,q,ad,per.y,data_arc,...,GM,BV,spec_T,H_sigma,diameter_sigma,orbit_id,epoch,epoch.mjd,epoch.cal,equinox
0,433 Eros (A898 PA),1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,...,0.000446,0.921,S,NaN,0.06,JPL 659,2459600.5,59600,2022-01-21.0,J2000
1,719 Albert (A911 TB),2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,...,NaN,NaN,NaN,NaN,NaN,JPL 221,2459600.5,59600,2022-01-21.0,J2000
2,887 Alinda (A918 AA),2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,...,NaN,0.832,S,NaN,NaN,JPL 428,2459600.5,59600,2022-01-21.0,J2000
3,1036 Ganymed (A924 UB),2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,...,NaN,0.842,S,NaN,0.40,JPL 949,2459600.5,59600,2022-01-21.0,J2000
4,1221 Amor (1932 EA1),1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,...,NaN,NaN,NaN,NaN,NaN,JPL 110,2459600.5,59600,2022-01-21.0,J2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,C/2020 P4-B,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,...,NaN,NaN,NaN,NaN,NaN,JPL 2,2459068.5,59068,2020-08-07.0,J2000
28048,C/2020 P4-C,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,...,NaN,NaN,NaN,NaN,NaN,JPL 2,2459069.5,59069,2020-08-08.0,J2000
28049,P/2021 HS (PANSTARRS),4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,...,NaN,NaN,NaN,NaN,NaN,JPL 39,2459398.5,59398,2021-07-03.0,J2000
28050,P/2021 N1 (ZTF),2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,...,NaN,NaN,NaN,NaN,NaN,JPL 2,2459402.5,59402,2021-07-07.0,J2000
28051,P/2021 Q5 (ATLAS),3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,...,NaN,NaN,NaN,NaN,NaN,JPL 7,2459472.5,59472,2021-09-15.0,J2000

In [7]:
df = df.drop(columns = ['full_name', 'orbit_id'],axis=1)
df

,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,...,rot_per,GM,BV,spec_T,H_sigma,diameter_sigma,epoch,epoch.mjd,epoch.cal,equinox
0,1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,...,5.270,0.000446,0.921,S,NaN,0.06,2459600.5,59600,2022-01-21.0,J2000
1,2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,...,5.801,NaN,NaN,NaN,NaN,NaN,2459600.5,59600,2022-01-21.0,J2000
2,2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,...,28.410,NaN,0.832,S,NaN,NaN,2459600.5,59600,2022-01-21.0,J2000
3,2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,...,10.297,NaN,0.842,S,NaN,0.40,2459600.5,59600,2022-01-21.0,J2000
4,1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2459600.5,59600,2022-01-21.0,J2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2459068.5,59068,2020-08-07.0,J2000
28048,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2459069.5,59069,2020-08-08.0,J2000
28049,4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2459398.5,59398,2021-07-03.0,J2000
28050,2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2459402.5,59402,2021-07-07.0,J2000
28051,3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2459472.5,59472,2021-09-15.0,J2000

In [8]:
# Determine the number of unique values in each column.
df.nunique()

a                  3770
e                  7405
i                  4305
om                19352
w                 19490
q                  1171
ad                  608
per.y              1081
data_arc           5391
condition_code       10
n_obs_used         1156
n_del_obs_used       24
n_dop_obs_used       20
H                  1476
pha                   2
G                    11
M1                   93
M2                   38
K1                   42
K2                    3
PC                    1
diameter            914
extent               10
albedo              413
rot_per            1722
GM                    5
BV                   35
spec_T               16
H_sigma             108
diameter_sigma      100
epoch              3388
epoch.mjd          3388
epoch.cal          3388
equinox               1
dtype: int64

In [9]:
# I decided to delete "equinox" and "pc" columns since they only contain one value
df = df.drop(columns =['equinox', 'PC'] ,axis=1)
df

,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,...,albedo,rot_per,GM,BV,spec_T,H_sigma,diameter_sigma,epoch,epoch.mjd,epoch.cal
0,1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,...,0.250,5.270,0.000446,0.921,S,NaN,0.06,2459600.5,59600,2022-01-21.0
1,2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,...,NaN,5.801,NaN,NaN,NaN,NaN,NaN,2459600.5,59600,2022-01-21.0
2,2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,...,0.310,28.410,NaN,0.832,S,NaN,NaN,2459600.5,59600,2022-01-21.0
3,2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,...,0.238,10.297,NaN,0.842,S,NaN,0.40,2459600.5,59600,2022-01-21.0
4,1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459600.5,59600,2022-01-21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459068.5,59068,2020-08-07.0
28048,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459069.5,59069,2020-08-08.0
28049,4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459398.5,59398,2021-07-03.0
28050,2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459402.5,59402,2021-07-07.0
28051,3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459472.5,59472,2021-09-15.0

In [10]:
# I am going to remove the "epoch.cal" column since it contains the date information for objects and is not relevant to our mock-up model
df = df.drop(columns =['epoch.cal'] ,axis=1)
df

,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,...,extent,albedo,rot_per,GM,BV,spec_T,H_sigma,diameter_sigma,epoch,epoch.mjd
0,1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,...,34.4x11.2x11.2,0.250,5.270,0.000446,0.921,S,NaN,0.06,2459600.5,59600
1,2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,...,NaN,NaN,5.801,NaN,NaN,NaN,NaN,NaN,2459600.5,59600
2,2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,...,NaN,0.310,28.410,NaN,0.832,S,NaN,NaN,2459600.5,59600
3,2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,...,NaN,0.238,10.297,NaN,0.842,S,NaN,0.40,2459600.5,59600
4,1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459600.5,59600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459068.5,59068
28048,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459069.5,59069
28049,4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459398.5,59398
28050,2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459402.5,59402
28051,3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459472.5,59472

In [11]:
#Assesing the data types in our data frame
df.dtypes

a                 float64
e                 float64
i                 float64
om                float64
w                 float64
q                 float64
ad                float64
per.y             float64
data_arc          float64
condition_code    float64
n_obs_used          int64
n_del_obs_used    float64
n_dop_obs_used    float64
H                 float64
pha                object
G                 float64
M1                float64
M2                float64
K1                float64
K2                float64
diameter          float64
extent             object
albedo            float64
rot_per           float64
GM                float64
BV                float64
spec_T             object
H_sigma           float64
diameter_sigma    float64
epoch             float64
epoch.mjd           int64
dtype: object

In [25]:
# Generate our categorical variable lists
application_cat = ["extent","spec_T"]

In [26]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,extent_0.5047 x 0.4918 x 0.4567,extent_0.535x0.294x0.209,extent_0.992 x 0.938 x 0.964,extent_1.11 x 0.53 x 0.50,extent_1.532 x 1.495 x 1.347,extent_1.70x2.03x4.26,extent_14.9x8.2,extent_2.35 x 1.65 x 1.44,extent_34.4x11.2x11.2,extent_5.0x2.0x2.1,...,spec_T_QU,spec_T_S,spec_T_SG,spec_T_SMU,spec_T_SQ,spec_T_SU,spec_T_TCG:,spec_T_V,spec_T_XC,spec_T_nan
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [27]:
# Merge one-hot encoded features and drop the originals
merged_df = df.merge(encode_df, left_index=True, right_index=True).drop(columns=application_cat, axis=1)
merged_df.head()

,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,...,spec_T_QU,spec_T_S,spec_T_SG,spec_T_SMU,spec_T_SQ,spec_T_SU,spec_T_TCG:,spec_T_V,spec_T_XC,spec_T_nan
0,1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [28]:
# Create our features
X = merged_df.drop("pha", axis=1)
# Create our target
y = merged_df["pha"]

In [29]:
#showing list of all columns
print(X.columns.tolist())

['a', 'e', 'i', 'om', 'w', 'q', 'ad', 'per.y', 'data_arc', 'condition_code', 'n_obs_used', 'n_del_obs_used', 'n_dop_obs_used', 'H', 'G', 'M1', 'M2', 'K1', 'K2', 'diameter', 'albedo', 'rot_per', 'GM', 'BV', 'H_sigma', 'diameter_sigma', 'epoch', 'epoch.mjd', 'extent_0.5047 x 0.4918 x 0.4567', 'extent_0.535x0.294x0.209', 'extent_0.992 x 0.938 x 0.964', 'extent_1.11 x 0.53 x 0.50', 'extent_1.532 x 1.495 x 1.347', 'extent_1.70x2.03x4.26', 'extent_14.9x8.2', 'extent_2.35 x 1.65 x 1.44', 'extent_34.4x11.2x11.2', 'extent_5.0x2.0x2.1', 'extent_nan', 'spec_T_C', 'spec_T_CF', 'spec_T_CSU', 'spec_T_D', 'spec_T_F', 'spec_T_Q', 'spec_T_QRS', 'spec_T_QU', 'spec_T_S', 'spec_T_SG', 'spec_T_SMU', 'spec_T_SQ', 'spec_T_SU', 'spec_T_TCG:', 'spec_T_V', 'spec_T_XC', 'spec_T_nan']

In [30]:
# Check the balance of our target values
y.value_counts()

N    25614
Y     2213
Name: pha, dtype: int64

In [20]:
#preparing the test and train variables for OVersampling
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [21]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

TypeError: '<' not supported between instances of 'float' and 'str'