In [1]:
# Import warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import our dependancies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [5]:
# Load the data
file_path = Path('Resources/sbdb_query_results.csv')
df = pd.read_csv(file_path)
df

,full_name,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,n_obs_used,n_del_obs_used,n_dop_obs_used,H
0,433 Eros (A898 PA),1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,9130,4.0,2.0,10.43
1,719 Albert (A911 TB),2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,1894,NaN,NaN,15.51
2,887 Alinda (A918 AA),2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,2624,NaN,NaN,13.87
3,1036 Ganymed (A924 UB),2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,7159,0.0,1.0,9.25
4,1221 Amor (1932 EA1),1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,573,NaN,NaN,17.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,C/2020 P4-B,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,9.0,80,NaN,NaN,NaN
28048,C/2020 P4-C,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,9.0,29,NaN,NaN,NaN
28049,P/2021 HS (PANSTARRS),4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,4.0,181,NaN,NaN,NaN
28050,P/2021 N1 (ZTF),2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,7.0,84,NaN,NaN,NaN
28051,P/2021 Q5 (ATLAS),3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,7.0,258,NaN,NaN,NaN

In [6]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
df

,full_name,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,n_obs_used,n_del_obs_used,n_dop_obs_used,H
0,433 Eros (A898 PA),1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,9130,4.0,2.0,10.43
1,719 Albert (A911 TB),2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,1894,NaN,NaN,15.51
2,887 Alinda (A918 AA),2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,2624,NaN,NaN,13.87
3,1036 Ganymed (A924 UB),2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,7159,0.0,1.0,9.25
4,1221 Amor (1932 EA1),1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,573,NaN,NaN,17.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,C/2020 P4-B,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,9.0,80,NaN,NaN,NaN
28048,C/2020 P4-C,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,9.0,29,NaN,NaN,NaN
28049,P/2021 HS (PANSTARRS),4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,4.0,181,NaN,NaN,NaN
28050,P/2021 N1 (ZTF),2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,7.0,84,NaN,NaN,NaN
28051,P/2021 Q5 (ATLAS),3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,7.0,258,NaN,NaN,NaN

In [ ]:
# I realized that this mock-up data set does not contain target value column "PHA" SO I am going to import a new data set