In [1]:
# Import warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import our dependancies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [3]:
# Load the data
file_path = Path('Resources/sbdb_query_results.csv')
df = pd.read_csv(file_path)
df

,full_name,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,n_obs_used,n_del_obs_used,n_dop_obs_used,H
0,433 Eros (A898 PA),1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,9130,4.0,2.0,10.43
1,719 Albert (A911 TB),2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,1894,NaN,NaN,15.51
2,887 Alinda (A918 AA),2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,2624,NaN,NaN,13.87
3,1036 Ganymed (A924 UB),2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,7159,0.0,1.0,9.25
4,1221 Amor (1932 EA1),1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,573,NaN,NaN,17.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,C/2020 P4-B,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,9.0,80,NaN,NaN,NaN
28048,C/2020 P4-C,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,9.0,29,NaN,NaN,NaN
28049,P/2021 HS (PANSTARRS),4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,4.0,181,NaN,NaN,NaN
28050,P/2021 N1 (ZTF),2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,7.0,84,NaN,NaN,NaN
28051,P/2021 Q5 (ATLAS),3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,7.0,258,NaN,NaN,NaN

In [4]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
df

,full_name,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,n_obs_used,n_del_obs_used,n_dop_obs_used,H
0,433 Eros (A898 PA),1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,9130,4.0,2.0,10.43
1,719 Albert (A911 TB),2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,1894,NaN,NaN,15.51
2,887 Alinda (A918 AA),2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,2624,NaN,NaN,13.87
3,1036 Ganymed (A924 UB),2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,7159,0.0,1.0,9.25
4,1221 Amor (1932 EA1),1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,573,NaN,NaN,17.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,C/2020 P4-B,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,9.0,80,NaN,NaN,NaN
28048,C/2020 P4-C,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,9.0,29,NaN,NaN,NaN
28049,P/2021 HS (PANSTARRS),4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,4.0,181,NaN,NaN,NaN
28050,P/2021 N1 (ZTF),2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,7.0,84,NaN,NaN,NaN
28051,P/2021 Q5 (ATLAS),3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,7.0,258,NaN,NaN,NaN

In [5]:
# I realized that this mock-up data set does not contain target value column "PHA" SO I am going to import a new data set
# Load the data
file_path = Path('Resources/sbdb_query_results_2.csv')
df = pd.read_csv(file_path)
df

,full_name,a,e,i,om,w,q,ad,per.y,data_arc,...,GM,BV,spec_T,H_sigma,diameter_sigma,orbit_id,epoch,epoch.mjd,epoch.cal,equinox
0,433 Eros (A898 PA),1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,...,0.000446,0.921,S,NaN,0.06,JPL 659,2459600.5,59600,2022-01-21.0,J2000
1,719 Albert (A911 TB),2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,...,NaN,NaN,NaN,NaN,NaN,JPL 221,2459600.5,59600,2022-01-21.0,J2000
2,887 Alinda (A918 AA),2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,...,NaN,0.832,S,NaN,NaN,JPL 428,2459600.5,59600,2022-01-21.0,J2000
3,1036 Ganymed (A924 UB),2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,...,NaN,0.842,S,NaN,0.40,JPL 949,2459600.5,59600,2022-01-21.0,J2000
4,1221 Amor (1932 EA1),1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,...,NaN,NaN,NaN,NaN,NaN,JPL 110,2459600.5,59600,2022-01-21.0,J2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,C/2020 P4-B,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,...,NaN,NaN,NaN,NaN,NaN,JPL 2,2459068.5,59068,2020-08-07.0,J2000
28048,C/2020 P4-C,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,...,NaN,NaN,NaN,NaN,NaN,JPL 2,2459069.5,59069,2020-08-08.0,J2000
28049,P/2021 HS (PANSTARRS),4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,...,NaN,NaN,NaN,NaN,NaN,JPL 39,2459398.5,59398,2021-07-03.0,J2000
28050,P/2021 N1 (ZTF),2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,...,NaN,NaN,NaN,NaN,NaN,JPL 2,2459402.5,59402,2021-07-07.0,J2000
28051,P/2021 Q5 (ATLAS),3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,...,NaN,NaN,NaN,NaN,NaN,JPL 7,2459472.5,59472,2021-09-15.0,J2000

In [6]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
df

,full_name,a,e,i,om,w,q,ad,per.y,data_arc,...,GM,BV,spec_T,H_sigma,diameter_sigma,orbit_id,epoch,epoch.mjd,epoch.cal,equinox
0,433 Eros (A898 PA),1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,...,0.000446,0.921,S,NaN,0.06,JPL 659,2459600.5,59600,2022-01-21.0,J2000
1,719 Albert (A911 TB),2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,...,NaN,NaN,NaN,NaN,NaN,JPL 221,2459600.5,59600,2022-01-21.0,J2000
2,887 Alinda (A918 AA),2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,...,NaN,0.832,S,NaN,NaN,JPL 428,2459600.5,59600,2022-01-21.0,J2000
3,1036 Ganymed (A924 UB),2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,...,NaN,0.842,S,NaN,0.40,JPL 949,2459600.5,59600,2022-01-21.0,J2000
4,1221 Amor (1932 EA1),1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,...,NaN,NaN,NaN,NaN,NaN,JPL 110,2459600.5,59600,2022-01-21.0,J2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,C/2020 P4-B,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,...,NaN,NaN,NaN,NaN,NaN,JPL 2,2459068.5,59068,2020-08-07.0,J2000
28048,C/2020 P4-C,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,...,NaN,NaN,NaN,NaN,NaN,JPL 2,2459069.5,59069,2020-08-08.0,J2000
28049,P/2021 HS (PANSTARRS),4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,...,NaN,NaN,NaN,NaN,NaN,JPL 39,2459398.5,59398,2021-07-03.0,J2000
28050,P/2021 N1 (ZTF),2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,...,NaN,NaN,NaN,NaN,NaN,JPL 2,2459402.5,59402,2021-07-07.0,J2000
28051,P/2021 Q5 (ATLAS),3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,...,NaN,NaN,NaN,NaN,NaN,JPL 7,2459472.5,59472,2021-09-15.0,J2000

In [7]:
df = df.drop(columns = ['full_name', 'orbit_id'],axis=1)
df

,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,...,rot_per,GM,BV,spec_T,H_sigma,diameter_sigma,epoch,epoch.mjd,epoch.cal,equinox
0,1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,...,5.270,0.000446,0.921,S,NaN,0.06,2459600.5,59600,2022-01-21.0,J2000
1,2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,...,5.801,NaN,NaN,NaN,NaN,NaN,2459600.5,59600,2022-01-21.0,J2000
2,2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,...,28.410,NaN,0.832,S,NaN,NaN,2459600.5,59600,2022-01-21.0,J2000
3,2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,...,10.297,NaN,0.842,S,NaN,0.40,2459600.5,59600,2022-01-21.0,J2000
4,1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2459600.5,59600,2022-01-21.0,J2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2459068.5,59068,2020-08-07.0,J2000
28048,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2459069.5,59069,2020-08-08.0,J2000
28049,4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2459398.5,59398,2021-07-03.0,J2000
28050,2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2459402.5,59402,2021-07-07.0,J2000
28051,3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2459472.5,59472,2021-09-15.0,J2000

In [8]:
# Determine the number of unique values in each column.
df.nunique()

a                  3770
e                  7405
i                  4305
om                19352
w                 19490
q                  1171
ad                  608
per.y              1081
data_arc           5391
condition_code       10
n_obs_used         1156
n_del_obs_used       24
n_dop_obs_used       20
H                  1476
pha                   2
G                    11
M1                   93
M2                   38
K1                   42
K2                    3
PC                    1
diameter            914
extent               10
albedo              413
rot_per            1722
GM                    5
BV                   35
spec_T               16
H_sigma             108
diameter_sigma      100
epoch              3388
epoch.mjd          3388
epoch.cal          3388
equinox               1
dtype: int64

In [9]:
# I decided to delete "equinox" and "pc" columns since they only contain one value
df = df.drop(columns =['equinox', 'PC'] ,axis=1)
df

,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,...,albedo,rot_per,GM,BV,spec_T,H_sigma,diameter_sigma,epoch,epoch.mjd,epoch.cal
0,1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,...,0.250,5.270,0.000446,0.921,S,NaN,0.06,2459600.5,59600,2022-01-21.0
1,2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,...,NaN,5.801,NaN,NaN,NaN,NaN,NaN,2459600.5,59600,2022-01-21.0
2,2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,...,0.310,28.410,NaN,0.832,S,NaN,NaN,2459600.5,59600,2022-01-21.0
3,2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,...,0.238,10.297,NaN,0.842,S,NaN,0.40,2459600.5,59600,2022-01-21.0
4,1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459600.5,59600,2022-01-21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459068.5,59068,2020-08-07.0
28048,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459069.5,59069,2020-08-08.0
28049,4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459398.5,59398,2021-07-03.0
28050,2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459402.5,59402,2021-07-07.0
28051,3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459472.5,59472,2021-09-15.0

In [10]:
# I am going to remove the "epoch.cal" column since it contains the date information for objects and is not relevant to our mock-up model
df = df.drop(columns =['epoch.cal'] ,axis=1)
df

,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,...,extent,albedo,rot_per,GM,BV,spec_T,H_sigma,diameter_sigma,epoch,epoch.mjd
0,1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,...,34.4x11.2x11.2,0.250,5.270,0.000446,0.921,S,NaN,0.06,2459600.5,59600
1,2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,...,NaN,NaN,5.801,NaN,NaN,NaN,NaN,NaN,2459600.5,59600
2,2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,...,NaN,0.310,28.410,NaN,0.832,S,NaN,NaN,2459600.5,59600
3,2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,...,NaN,0.238,10.297,NaN,0.842,S,NaN,0.40,2459600.5,59600
4,1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459600.5,59600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459068.5,59068
28048,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459069.5,59069
28049,4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459398.5,59398
28050,2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459402.5,59402
28051,3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2459472.5,59472

In [11]:
#Assesing the data types in our data frame
df.dtypes

a                 float64
e                 float64
i                 float64
om                float64
w                 float64
q                 float64
ad                float64
per.y             float64
data_arc          float64
condition_code    float64
n_obs_used          int64
n_del_obs_used    float64
n_dop_obs_used    float64
H                 float64
pha                object
G                 float64
M1                float64
M2                float64
K1                float64
K2                float64
diameter          float64
extent             object
albedo            float64
rot_per           float64
GM                float64
BV                float64
spec_T             object
H_sigma           float64
diameter_sigma    float64
epoch             float64
epoch.mjd           int64
dtype: object

In [12]:
# Generate our categorical variable lists
application_cat = ["extent","spec_T"]

In [13]:
# transform pha to 1 or 0
def change(type):
    if type == "Y":
        return 1
    else:
        return 0

In [14]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,extent_0.5047 x 0.4918 x 0.4567,extent_0.535x0.294x0.209,extent_0.992 x 0.938 x 0.964,extent_1.11 x 0.53 x 0.50,extent_1.532 x 1.495 x 1.347,extent_1.70x2.03x4.26,extent_14.9x8.2,extent_2.35 x 1.65 x 1.44,extent_34.4x11.2x11.2,extent_5.0x2.0x2.1,...,spec_T_QU,spec_T_S,spec_T_SG,spec_T_SMU,spec_T_SQ,spec_T_SU,spec_T_TCG:,spec_T_V,spec_T_XC,spec_T_nan
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [15]:
# Merge one-hot encoded features and drop the originals
merged_df = df.merge(encode_df, left_index=True, right_index=True).drop(columns=application_cat, axis=1)
merged_df.head()

,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,...,spec_T_QU,spec_T_S,spec_T_SG,spec_T_SMU,spec_T_SQ,spec_T_SU,spec_T_TCG:,spec_T_V,spec_T_XC,spec_T_nan
0,1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [16]:
merged_df["pha"] = merged_df["pha"].apply(change)
merged_df.head()

,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,...,spec_T_QU,spec_T_S,spec_T_SG,spec_T_SMU,spec_T_SQ,spec_T_SU,spec_T_TCG:,spec_T_V,spec_T_XC,spec_T_nan
0,1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [17]:
merged_df.isnull().sum()

a                                      0
e                                      0
i                                      0
om                                     0
w                                      0
q                                      0
ad                                     0
per.y                                  0
data_arc                             246
condition_code                        14
n_obs_used                             0
n_del_obs_used                     27102
n_dop_obs_used                     27102
H                                    196
pha                                    0
G                                  28039
M1                                 27918
M2                                 28007
K1                                 27918
K2                                 28007
diameter                           26785
albedo                             26845
rot_per                            26161
GM                                 28047
BV                                 28014
H_sigma                            18308
diameter_sigma                     26889
epoch                                  0
epoch.mjd                              0
extent_0.5047 x 0.4918 x 0.4567        0
extent_0.535x0.294x0.209               0
extent_0.992 x 0.938 x 0.964           0
extent_1.11 x 0.53 x 0.50              0
extent_1.532 x 1.495 x 1.347           0
extent_1.70x2.03x4.26                  0
extent_14.9x8.2                        0
extent_2.35 x 1.65 x 1.44              0
extent_34.4x11.2x11.2                  0
extent_5.0x2.0x2.1                     0
extent_nan                             0
spec_T_C                               0
spec_T_CF                              0
spec_T_CSU                             0
spec_T_D                               0
spec_T_F                               0
spec_T_Q                               0
spec_T_QRS                             0
spec_T_QU                              0
spec_T_S                               0
spec_T_SG                              0
spec_T_SMU                             0
spec_T_SQ                              0
spec_T_SU                              0
spec_T_TCG:                            0
spec_T_V                               0
spec_T_XC                              0
spec_T_nan                             0
dtype: int64

In [18]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28052 entries, 0 to 28051
Data columns (total 57 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   a                                28052 non-null  float64
 1   e                                28052 non-null  float64
 2   i                                28052 non-null  float64
 3   om                               28052 non-null  float64
 4   w                                28052 non-null  float64
 5   q                                28052 non-null  float64
 6   ad                               28052 non-null  float64
 7   per.y                            28052 non-null  float64
 8   data_arc                         27806 non-null  float64
 9   condition_code                   28038 non-null  float64
 10  n_obs_used                       28052 non-null  int64
 11  n_del_obs_used                   950 non-null    float64
 12  n_dop_obs_used                   950 non-null    float64
 13  H                                27856 non-null  float64
 14  pha                              28052 non-null  int64
 15  G                                13 non-null     float64
 16  M1                               134 non-null    float64
 17  M2                               45 non-null     float64
 18  K1                               134 non-null    float64
 19  K2                               45 non-null     float64
 20  diameter                         1267 non-null   float64
 21  albedo                           1207 non-null   float64
 22  rot_per                          1891 non-null   float64
 23  GM                               5 non-null      float64
 24  BV                               38 non-null     float64
 25  H_sigma                          9744 non-null   float64
 26  diameter_sigma                   1163 non-null   float64
 27  epoch                            28052 non-null  float64
 28  epoch.mjd                        28052 non-null  int64
 29  extent_0.5047 x 0.4918 x 0.4567  28052 non-null  float64
 30  extent_0.535x0.294x0.209         28052 non-null  float64
 31  extent_0.992 x 0.938 x 0.964     28052 non-null  float64
 32  extent_1.11 x 0.53 x 0.50        28052 non-null  float64
 33  extent_1.532 x 1.495 x 1.347     28052 non-null  float64
 34  extent_1.70x2.03x4.26            28052 non-null  float64
 35  extent_14.9x8.2                  28052 non-null  float64
 36  extent_2.35 x 1.65 x 1.44        28052 non-null  float64
 37  extent_34.4x11.2x11.2            28052 non-null  float64
 38  extent_5.0x2.0x2.1               28052 non-null  float64
 39  extent_nan                       28052 non-null  float64
 40  spec_T_C                         28052 non-null  float64
 41  spec_T_CF                        28052 non-null  float64
 42  spec_T_CSU                       28052 non-null  float64
 43  spec_T_D                         28052 non-null  float64
 44  spec_T_F                         28052 non-null  float64
 45  spec_T_Q                         28052 non-null  float64
 46  spec_T_QRS                       28052 non-null  float64
 47  spec_T_QU                        28052 non-null  float64
 48  spec_T_S                         28052 non-null  float64
 49  spec_T_SG                        28052 non-null  float64
 50  spec_T_SMU                       28052 non-null  float64
 51  spec_T_SQ                        28052 non-null  float64
 52  spec_T_SU                        28052 non-null  float64
 53  spec_T_TCG:                      28052 non-null  float64
 54  spec_T_V                         28052 non-null  float64
 55  spec_T_XC                        28052 non-null  float64
 56  spec_T_nan                       28052 non-null  float64
dtypes: float64(54), int64(3)
memory usage: 12.2 MB

In [19]:
# Dropping the columns that have more than 18308 null values
df2 = merged_df.drop(columns = ['n_obs_used', 'n_del_obs_used', 'n_dop_obs_used','G','M1','M2','K1','K2','diameter','albedo',
                                'rot_per','GM','BV','H_sigma','diameter_sigma'], axis=1)
df2

,a,e,i,om,w,q,ad,per.y,data_arc,condition_code,...,spec_T_QU,spec_T_S,spec_T_SG,spec_T_SMU,spec_T_SQ,spec_T_SU,spec_T_TCG:,spec_T_V,spec_T_XC,spec_T_nan
0,1.458,0.2227,10.83,304.30,178.90,1.133,1.78,1.76,46582.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.638,0.5470,11.58,183.86,156.23,1.195,4.08,4.28,40008.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2.473,0.5705,9.39,110.43,350.49,1.062,3.88,3.89,37799.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.666,0.5331,26.68,215.52,132.43,1.245,4.09,4.35,35482.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.919,0.4358,11.88,171.32,26.64,1.082,2.75,2.66,32775.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,1.020,0.9092,28.15,173.43,171.61,0.093,1.95,1.03,1.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
28048,1.391,0.9394,37.56,165.26,116.42,0.084,2.70,1.64,NaN,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
28049,4.196,0.8102,12.17,262.40,46.09,0.796,7.59,8.59,243.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
28050,2.977,0.6768,11.51,301.16,21.19,0.962,4.99,5.14,25.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
28051,3.285,0.6242,10.73,239.78,180.89,1.235,5.34,5.96,55.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [33]:
df2.isnull().sum()

a                                    0
e                                    0
i                                    0
om                                   0
w                                    0
q                                    0
ad                                   0
per.y                                0
data_arc                           246
condition_code                      14
H                                  196
pha                                  0
epoch                                0
epoch.mjd                            0
extent_0.5047 x 0.4918 x 0.4567      0
extent_0.535x0.294x0.209             0
extent_0.992 x 0.938 x 0.964         0
extent_1.11 x 0.53 x 0.50            0
extent_1.532 x 1.495 x 1.347         0
extent_1.70x2.03x4.26                0
extent_14.9x8.2                      0
extent_2.35 x 1.65 x 1.44            0
extent_34.4x11.2x11.2                0
extent_5.0x2.0x2.1                   0
extent_nan                           0
spec_T_C                             0
spec_T_CF                            0
spec_T_CSU                           0
spec_T_D                             0
spec_T_F                             0
spec_T_Q                             0
spec_T_QRS                           0
spec_T_QU                            0
spec_T_S                             0
spec_T_SG                            0
spec_T_SMU                           0
spec_T_SQ                            0
spec_T_SU                            0
spec_T_TCG:                          0
spec_T_V                             0
spec_T_XC                            0
spec_T_nan                           0
dtype: int64

In [35]:
df3 = df2.fillna(value =0)
df3.isnull().sum()

a                                  0
e                                  0
i                                  0
om                                 0
w                                  0
q                                  0
ad                                 0
per.y                              0
data_arc                           0
condition_code                     0
H                                  0
pha                                0
epoch                              0
epoch.mjd                          0
extent_0.5047 x 0.4918 x 0.4567    0
extent_0.535x0.294x0.209           0
extent_0.992 x 0.938 x 0.964       0
extent_1.11 x 0.53 x 0.50          0
extent_1.532 x 1.495 x 1.347       0
extent_1.70x2.03x4.26              0
extent_14.9x8.2                    0
extent_2.35 x 1.65 x 1.44          0
extent_34.4x11.2x11.2              0
extent_5.0x2.0x2.1                 0
extent_nan                         0
spec_T_C                           0
spec_T_CF                          0
spec_T_CSU                         0
spec_T_D                           0
spec_T_F                           0
spec_T_Q                           0
spec_T_QRS                         0
spec_T_QU                          0
spec_T_S                           0
spec_T_SG                          0
spec_T_SMU                         0
spec_T_SQ                          0
spec_T_SU                          0
spec_T_TCG:                        0
spec_T_V                           0
spec_T_XC                          0
spec_T_nan                         0
dtype: int64

In [45]:
file_path = "Resources/df3_cleaned.csv"
df3.to_csv(file_path, index=False)

In [36]:
# Create our features
X = df3.drop("pha", axis=1)
# Create our target
y = df3["pha"]

In [37]:
#showing list of all columns
print(X.columns.tolist())

['a', 'e', 'i', 'om', 'w', 'q', 'ad', 'per.y', 'data_arc', 'condition_code', 'H', 'epoch', 'epoch.mjd', 'extent_0.5047 x 0.4918 x 0.4567', 'extent_0.535x0.294x0.209', 'extent_0.992 x 0.938 x 0.964', 'extent_1.11 x 0.53 x 0.50', 'extent_1.532 x 1.495 x 1.347', 'extent_1.70x2.03x4.26', 'extent_14.9x8.2', 'extent_2.35 x 1.65 x 1.44', 'extent_34.4x11.2x11.2', 'extent_5.0x2.0x2.1', 'extent_nan', 'spec_T_C', 'spec_T_CF', 'spec_T_CSU', 'spec_T_D', 'spec_T_F', 'spec_T_Q', 'spec_T_QRS', 'spec_T_QU', 'spec_T_S', 'spec_T_SG', 'spec_T_SMU', 'spec_T_SQ', 'spec_T_SU', 'spec_T_TCG:', 'spec_T_V', 'spec_T_XC', 'spec_T_nan']

In [38]:
# Check the balance of our target values
y.value_counts()

0    25839
1     2213
Name: pha, dtype: int64

In [39]:
#preparing the test and train variables for OVersampling
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [40]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 19428, 1: 19428})

In [41]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [42]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6939462696745782

In [43]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[5245, 1166],
       [ 259,  343]], dtype=int64)

In [44]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.95      0.82      0.57      0.88      0.68      0.48      6411
          1       0.23      0.57      0.82      0.32      0.68      0.45       602

avg / total       0.89      0.80      0.59      0.83      0.68      0.48      7013

In [46]:
### SMOTE Oversampling

In [47]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1,
sampling_strategy='auto').fit_resample(
   X_train, y_train)

In [48]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [49]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6946208525525325

In [50]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[5243, 1168],
       [ 258,  344]], dtype=int64)

In [52]:
# Print the imbalanced classification report for SMOTE
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.95      0.82      0.57      0.88      0.68      0.48      6411
          1       0.23      0.57      0.82      0.33      0.68      0.46       602

avg / total       0.89      0.80      0.59      0.83      0.68      0.48      7013